.App {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #7fb6e7;
  background-image: linear-gradient(
    135deg,
    #7fb6e7 16%,
    #80d0c7 49%,
    #d62db3 92%
  );
}
body {
  position: relative;
}
#root {
  position: relative;
}
